In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
import io
data = pd.read_csv('/content/arabica_data_cleaned.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1311 non-null   int64
 1   Species                1311 non-null   object
 2   Owner                  1304 non-null   object
 3   Country.of.Origin      1310 non-null   object
 4   Farm.Name              955 non-null    object
 5   Lot.Number             270 non-null    object
 6   Mill                   1001 non-null   object
 7   ICO.Number             1165 non-null   object
 8   Company                1102 non-null   object
 9   Altitude               1088 non-null   object
 10  Region                 1254 non-null   object
 11  Producer               1081 non-null   object
 12  Number.of.Bags         1311 non-null   int64
 13  Bag.Weight             1311 non-null   object
 14  In.Country.Partner     1311 non-null   object
 15  Harvest.Year           1264 non-null   object
 16  Grading.Date           1311 non-null   object
 17  Owner.1                1304 non-null   object
 18  Variety                1110 non-null   object
 19  Processing.Method      1159 non-null   object
 20  Aroma                  1311 non-null   float64
 21  Flavor                 1311 non-null   float64
 22  Aftertaste             1311 non-null   float64
 23  Acidity                1311 non-null   float64
 24  Body                   1311 non-null   float64
 25  Balance                1311 non-null   float64
 26  Uniformity             1311 non-null   float64
 27  Clean.Cup              1311 non-null   float64
 28  Sweetness              1311 non-null   float64
 29  Cupper.Points          1311 non-null   float64
 30  Total.Cup.Points       1311 non-null   float64
 31  Moisture               1311 non-null   float64
 32  Category.One.Defects   1311 non-null   int64
 33  Quakers                1310 non-null   float64
 34  Color                  1095 non-null   object
 35  Category.Two.Defects   1311 non-null   int64
 36  Expiration             1311 non-null   object
 37  Certification.Body     1311 non-null   object
 38  Certification.Address  1311 non-null   object
 39  Certification.Contact  1311 non-null   object
 40  unit_of_measurement    1311 non-null   object
 41  altitude_low_meters    1084 non-null   float64
 42  altitude_high_meters   1084 non-null   float64
 43  altitude_mean_meters   1084 non-null   float64
dtypes: float64(16), int64(4), object(24)
memory usage: 450.8+ KB

In [3]:
data.tail()

      Unnamed: 0  Species  ... altitude_high_meters altitude_mean_meters
1306        1307  Arabica  ...               900.00               900.00
1307        1308  Arabica  ...               350.00               350.00
1308        1309  Arabica  ...              1100.00              1100.00
1309        1310  Arabica  ...              1417.32              1417.32
1310        1312  Arabica  ...              1400.00              1400.00

[5 rows x 44 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data["Country.of.Origin"].value_counts()

Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Thailand                         32
Nicaragua                        26
Uganda                           26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
Malawi                           11
Peru                             10
Myanmar                           8
United States                     8
Vietnam                           7
Haiti                             6
Philippines                       5
United States (Puerto Rico)       4
Panama                            4
Laos                              3
Burundi                           2
Mauritius                         1
Papua New Guinea                  1
Rwanda                            1
Cote d?Ivoire                     1
India                             1
Ecuador                           1
Zambia                            1
Japan                             1
Name: Country.of.Origin, dtype: int64

In [5]:
le=LabelEncoder()
data['Number.of.Bags']=le.fit_transform(data['Number.of.Bags'])
data['Number.of.Bags'].value_counts()

103    241
109    176
10     108
1       87
113     71
      ...
75       1
77       1
78       1
79       1
0        1
Name: Number.of.Bags, Length: 130, dtype: int64

In [6]:
le.classes_

array([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,
         22,   23,   24,   25,   26,   27,   28,   29,   30,   31,   32,
         33,   35,   36,   37,   38,   39,   40,   42,   43,   44,   45,
         48,   49,   50,   51,   53,   54,   56,   58,   60,   62,   65,
         66,   69,   70,   74,   75,   77,   80,   82,   84,   85,   90,
         93,   94,  100,  114,  120,  121,  123,  125,  127,  129,  130,
        134,  135,  138,  149,  150,  160,  165,  166,  167,  170,  175,
        180,  198,  200,  202,  209,  220,  223,  226,  230,  232,  235,
        240,  243,  245,  248,  250,  252,  253,  256,  270,  274,  275,
        280,  285,  288,  300,  302,  304,  305,  310,  320,  325,  360,
        377,  380,  400,  440,  450,  500,  550,  600, 1062])

In [7]:
#Onehot encoder
data['Owner'].value_counts()

juan luis alvarado romero                 155
racafe & cia s.c.a                         60
exportadora de cafe condor s.a             54
kona pacific farmers cooperative           52
ipanema coffees                            50
                                         ...
amkeni gourmet coffee group                 1
ekai international company ltd.             1
maria amalia guadalupe toriello elorza      1
diamond enterprise plc                      1
angel oscar medina rodriguez                1
Name: Owner, Length: 305, dtype: int64

In [8]:
data['In.Country.Partner'].value_counts()

Specialty Coffee Association                                                             295
AMECAFE                                                                                  205
Almacafé                                                                                 178
Asociacion Nacional Del Café                                                             155
Brazil Specialty Coffee Association                                                       67
Instituto Hondureño del Café                                                              60
Blossom Valley International                                                              58
Africa Fine Coffee Association                                                            49
Specialty Coffee Association of Costa Rica                                                42
NUCOFFEE                                                                                  36
Kenya Coffee Traders Association                                                          22
Uganda Coffee Development Authority                                                       22
Ethiopia Commodity Exchange                                                               18
Specialty Coffee Institute of Asia                                                        16
METAD Agricultural Development plc                                                        15
Yunnan Coffee Exchange                                                                    12
Salvadoran Coffee Council                                                                 11
Specialty Coffee Association of Indonesia                                                 10
Asociación de Cafés Especiales de Nicaragua                                                8
Centro Agroecológico del Café A.C.                                                         8
Coffee Quality Institute                                                                   7
Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.                             6
Tanzanian Coffee Board                                                                     6
Torch Coffee Lab Yunnan                                                                    2
Blossom Valley International\n                                                             1
Specialty Coffee Ass                                                                       1
Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao      1
Name: In.Country.Partner, dtype: int64

In [9]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['In.Country.Partner'].values.reshape(-1,1)).toarray()
one_hot.categories_one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['In.Country.Partner'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array(['AMECAFE', 'Africa Fine Coffee Association', 'Almacafé',
        'Asociacion Nacional Del Café',
        'Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.',
        'Asociación de Cafés Especiales de Nicaragua',
        'Blossom Valley International', 'Blossom Valley International\n',
        'Brazil Specialty Coffee Association',
        'Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao',
        'Centro Agroecológico del Café A.C.', 'Coffee Quality Institute',
        'Ethiopia Commodity Exchange', 'Instituto Hondureño del Café',
        'Kenya Coffee Traders Association',
        'METAD Agricultural Development plc', 'NUCOFFEE',
        'Salvadoran Coffee Council', 'Specialty Coffee Ass',
        'Specialty Coffee Association',
        'Specialty Coffee Association of Costa Rica',
        'Specialty Coffee Association of Indonesia',
        'Specialty Coffee Institute of Asia', 'Tanzanian Coffee Board',
        'Torch Coffee Lab Yunnan', 'Uganda Coffee Development Authority',
        'Yunnan Coffee Exchange'], dtype=object)]

In [10]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['AMECAFE', 'Africa Fine Coffee Association', 'Almacafé',
        'Asociacion Nacional Del Café',
        'Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.',
        'Asociación de Cafés Especiales de Nicaragua',
        'Blossom Valley International', 'Blossom Valley International\n',
        'Brazil Specialty Coffee Association',
        'Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao',
        'Centro Agroecológico del Café A.C.', 'Coffee Quality Institute',
        'Ethiopia Commodity Exchange', 'Instituto Hondureño del Café',
        'Kenya Coffee Traders Association',
        'METAD Agricultural Development plc', 'NUCOFFEE',
        'Salvadoran Coffee Council', 'Specialty Coffee Ass',
        'Specialty Coffee Association',
        'Specialty Coffee Association of Costa Rica',
        'Specialty Coffee Association of Indonesia',
        'Specialty Coffee Institute of Asia', 'Tanzanian Coffee Board',
        'Torch Coffee Lab Yunnan', 'Uganda Coffee Development Authority',
        'Yunnan Coffee Exchange'])
transformed_data.head()

   AMECAFE  ...  Yunnan Coffee Exchange
0      0.0  ...                     0.0
1      0.0  ...                     0.0
2      0.0  ...                     0.0
3      0.0  ...                     0.0
4      0.0  ...                     0.0

[5 rows x 27 columns]

In [11]:
transformed_data.iloc[90, ]

AMECAFE                                                                                  0.0
Africa Fine Coffee Association                                                           0.0
Almacafé                                                                                 0.0
Asociacion Nacional Del Café                                                             0.0
Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.                           0.0
Asociación de Cafés Especiales de Nicaragua                                              0.0
Blossom Valley International                                                             0.0
Blossom Valley International\n                                                           0.0
Brazil Specialty Coffee Association                                                      0.0
Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao    0.0
Centro Agroecológico del Café A.C.                                                       0.0
Coffee Quality Institute                                                                 0.0
Ethiopia Commodity Exchange                                                              0.0
Instituto Hondureño del Café                                                             0.0
Kenya Coffee Traders Association                                                         0.0
METAD Agricultural Development plc                                                       0.0
NUCOFFEE                                                                                 0.0
Salvadoran Coffee Council                                                                0.0
Specialty Coffee Ass                                                                     0.0
Specialty Coffee Association                                                             1.0
Specialty Coffee Association of Costa Rica                                               0.0
Specialty Coffee Association of Indonesia                                                0.0
Specialty Coffee Institute of Asia                                                       0.0
Tanzanian Coffee Board                                                                   0.0
Torch Coffee Lab Yunnan                                                                  0.0
Uganda Coffee Development Authority                                                      0.0
Yunnan Coffee Exchange                                                                   0.0
Name: 90, dtype: float64

In [12]:
data['Number.of.Bags'][90]

68

In [13]:
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['Unnamed: 0',
 'Number.of.Bags',
 'Aroma',
 'Flavor',
 'Aftertaste',
 'Acidity',
 'Body',
 'Balance',
 'Uniformity',
 'Clean.Cup',
 'Sweetness',
 'Cupper.Points',
 'Total.Cup.Points',
 'Moisture',
 'Category.One.Defects',
 'Quakers',
 'Category.Two.Defects',
 'altitude_low_meters',
 'altitude_high_meters',
 'altitude_mean_meters']

In [14]:
len(numeric_columns) , len(data.columns)

(20, 44)

In [15]:
numeric_columns.remove('Aroma')
numeric_columns.remove('Flavor')

In [16]:
temp_data = data[numeric_columns]
temp_data

      Unnamed: 0  Number.of.Bags  ...  altitude_high_meters  altitude_mean_meters
0              1             113  ...               2200.00               2075.00
1              2             113  ...               2200.00               2075.00
2              3               5  ...               1800.00               1700.00
3              4             118  ...               2200.00               2000.00
4              5             113  ...               2200.00               2075.00
...          ...             ...  ...                   ...                   ...
1306        1307              12  ...                900.00                900.00
1307        1308               1  ...                350.00                350.00
1308        1309             127  ...               1100.00               1100.00
1309        1310             109  ...               1417.32               1417.32
1310        1312             109  ...               1400.00               1400.00

[1311 rows x 18 columns]

In [17]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

      Unnamed: 0  Number.of.Bags  ...  Category.One.Defects  Category.Two.Defects
0       0.000000        0.875969  ...              0.000000              0.000000
1       0.000763        0.875969  ...              0.000000              0.018182
2       0.001526        0.038760  ...              0.000000              0.000000
3       0.002288        0.914729  ...              0.000000              0.036364
4       0.003051        0.875969  ...              0.000000              0.036364
...          ...             ...  ...                   ...                   ...
1306    0.996186        0.093023  ...              0.000000              0.363636
1307    0.996949        0.007752  ...              0.258065              0.290909
1308    0.997712        0.984496  ...              0.032258              0.090909
1309    0.998474        0.844961  ...              0.000000              0.072727
1310    1.000000        0.844961  ...              0.000000              0.036364

[1311 rows x 14 columns]

In [18]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

      Unnamed: 0  Number.of.Bags  ...  Category.One.Defects  Category.Two.Defects
0      -1.730726        1.036009  ...             -0.232783             -0.671596
1      -1.728084        1.036009  ...             -0.232783             -0.484621
2      -1.725441       -1.365144  ...             -0.232783             -0.671596
3      -1.722799        1.147173  ...             -0.232783             -0.297647
4      -1.720157        1.036009  ...             -0.232783             -0.297647
...          ...             ...  ...                   ...                   ...
1306    1.720153       -1.209513  ...             -0.232783              3.067890
1307    1.722795       -1.454075  ...              4.134706              2.319993
1308    1.725437        1.347269  ...              0.313153              0.263276
1309    1.728080        0.947077  ...             -0.232783              0.076301
1310    1.733364        0.947077  ...             -0.232783             -0.297647

[1311 rows x 14 columns]

In [19]:
data.isnull().sum()

Unnamed: 0                  0
Species                     0
Owner                       7
Country.of.Origin           1
Farm.Name                 356
Lot.Number               1041
Mill                      310
ICO.Number                146
Company                   209
Altitude                  223
Region                     57
Producer                  230
Number.of.Bags              0
Bag.Weight                  0
In.Country.Partner          0
Harvest.Year               47
Grading.Date                0
Owner.1                     7
Variety                   201
Processing.Method         152
Aroma                       0
Flavor                      0
Aftertaste                  0
Acidity                     0
Body                        0
Balance                     0
Uniformity                  0
Clean.Cup                   0
Sweetness                   0
Cupper.Points               0
Total.Cup.Points            0
Moisture                    0
Category.One.Defects        0
Quakers                     1
Color                     216
Category.Two.Defects        0
Expiration                  0
Certification.Body          0
Certification.Address       0
Certification.Contact       0
unit_of_measurement         0
altitude_low_meters       227
altitude_high_meters      227
altitude_mean_meters      227
dtype: int64

In [20]:
data['altitude_low_meters'].isnull().sum()

227

In [21]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
agent_col = imputer.fit_transform(data['altitude_low_meters'].values.reshape(-1,1))
pd.DataFrame(agent_col).isnull().sum()

0    0
dtype: int64

In [22]:
data['altitude_low_meters'].isnull().sum()

227

In [23]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   Unnamed: 0  Number.of.Bags  ...  Category.One.Defects  Category.Two.Defects
0           1             113  ...                     0                     0
1           2             113  ...                     0                     1
2           3               5  ...                     0                     0
3           4             118  ...                     0                     2
4           5             113  ...                     0                     2

[5 rows x 14 columns]

In [24]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

      Unnamed: 0  Number.of.Bags  ...  Category.One.Defects  Category.Two.Defects
0            0.0             8.0  ...                   0.0                   0.0
1            0.0             8.0  ...                   0.0                   1.0
2            0.0             1.0  ...                   0.0                   0.0
3            0.0             8.0  ...                   0.0                   2.0
4            0.0             8.0  ...                   0.0                   2.0
...          ...             ...  ...                   ...                   ...
1306         9.0             2.0  ...                   0.0                   6.0
1307         9.0             0.0  ...                   1.0                   6.0
1308         9.0             8.0  ...                   1.0                   5.0
1309         9.0             7.0  ...                   0.0                   4.0
1310         9.0             7.0  ...                   0.0                   2.0

[1311 rows x 14 columns]

In [25]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

      Unnamed: 0  Number.of.Bags  ...  Category.One.Defects  Category.Two.Defects
0            0.0             8.0  ...                   0.0                   0.0
1            0.0             8.0  ...                   0.0                   0.0
2            0.0             0.0  ...                   0.0                   0.0
3            0.0             9.0  ...                   0.0                   0.0
4            0.0             8.0  ...                   0.0                   0.0
...          ...             ...  ...                   ...                   ...
1306         9.0             1.0  ...                   0.0                   3.0
1307         9.0             0.0  ...                   3.0                   3.0
1308         9.0             9.0  ...                   1.0                   1.0
1309         9.0             8.0  ...                   0.0                   1.0
1310         9.0             8.0  ...                   0.0                   0.0

[1311 rows x 14 columns]